/* Estilos base para dispositivos mobile (Estilo: iPhone X, iPhone 12, 13, 14) */
@media screen and (max-width: 480px) {
  body {
    overflow-y: auto !important;
    height: auto !important;
    margin: 2vh 0 2vh 0 !important;
  }

  /* Ajustes no container principal */
  #inicio-container {
    width: 100vw !important;
    height: auto !important;
    min-height: 100vh !important;
    padding: 1rem !important;
    overflow-y: auto !important;
  }
  
  /* Ajustes na seção da esquerda */
  .left-section {
    width: 100% !important;
    margin-top: 1rem !important;
  }

  .red-line-1 {
    width: 60% !important;
    margin-top: 1vh !important;
  }
  
  .left-section h1 {
    font-size: 3rem !important;
    width: 100% !important;
    margin-top: 1rem !important;
  }

  .left-section p {
    font-size: .9rem !important;
    width: 90% !important;
    margin-bottom: 1rem !important;
  }
  
  .left-text {
    width: 100% !important;
    margin-bottom: 1rem !important;
  }
  
  /* Esconda a imagem de perfil em dispositivos móveis */
  .image-section {
    display: none !important;
  }
  
  /* Ajustes na seção da direita */
  .right-section {
    position: relative !important;
    right: auto !important;
    bottom: auto !important;
    width: 100vw !important;
    margin: 2rem 0 !important;
  }
  
  /* Ajustes no texto da direita */
  .right-text {
    position: relative !important;
    bottom: 0 !important;
    right: 0 !important;
    width: 90vw !important;
    margin: 0 !important;
    text-align: right !important;
  }

  .red-line-2 {
    position: static !important;
    width: 90vw !important;
  }
  
  /* Ajustes na estrutura flex */
  .content-flex {
    flex-direction: column !important;
    align-items: flex-start !important;
    height: auto !important;
    width: 100vw !important;
  }
  
  /* Ajustes nos ícones sociais */
  .social-icons {
    margin-bottom: 2rem !important;
  }
}

/* Ajustes para telas muito pequenas */
@media screen and (max-width: 480px) {
  .left-section h1 {
    font-size: 2rem !important;
  }
}