@media screen and (max-width: 480px) {
  body {
    overflow-y: auto !important;
    height: auto !important;
    margin: 2vh 0 2vh 0 !important;
  }

  #portifolio-container {
    width: 100vw !important;
    height: auto !important;
    min-height: 100vh !important;
    overflow: hidden !important;
  }

  .web-title {
    font-size: 2.5rem !important;
    width: 100% !important;
    margin-top: 1rem !important;
  }

  .web-description {
    font-size: 1.2rem !important;
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
    width: 100% !important;
    margin-bottom: 1rem !important;
  }
}